<div class="bubble {{ item.user == app.user ? 'bg-indigo-200 mx-end' : 'bg-fuschia-200' }}">
	<p class="">{{ item.content }}</p>
</div>
<p class="help pb-0 mb-0 fst-italic {{ item.user == app.user ? 'text-end' : 'text-start' }}">{{ item.user.username == app.user.username ? 'moi' : item.user.username }}, il y a
	{{ item.createdAt|time_diff }}
	<img src="{{ asset('medias/images/' ~ item.user.image ) }}" alt="{{ item.user.username }}" width="20">
</p>
